spring:
  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER:sweeties_user}
    password: ${DB_PASS:secret}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    clean-disabled: true

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

  security:
    user:
      name: ${ADMIN_USER}
      password: ${ADMIN_PASSWORD}
      roles: ${ADMIN_ROLES}

sweeties:
  admin-email: ${ADMIN_EMAIL:sweeties_crochet@infinitummail.com}

application:
  name: sweeties

logging:
  level:
    org:
      springframework:
        web: DEBUG

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET:}
  expiration: ${JWT_EXPIRATION:10080}

cloudinary:
  cloud_name: ${CLOUDINARY_CLOUD_NAME}
  api_key: ${CLOUDINARY_API_KEY}
  api_secret: ${CLOUDINARY_API_SECRET}
